---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

export interface Props {
  title?: string;
}

const { title = "Buildmaterials.site | All About Construction" } =
  Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="KZpfF1miXsBL7vIR-mgVFMItDDkjImx2aP_fXwOVt-8"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8454794716565806"
      crossorigin="anonymous"
    ></script>

    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8454794716565806"
      crossorigin="anonymous"
    ></script>
    <!-- my ad manager -->
  </head><ins
    class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-8454794716565806"
    data-ad-slot="1545363768"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>


</html>
